<mat-tab-group #tabGroup dynamicHeight>
  <mat-tab label="Login">
    <div class="example-small-box mat-elevation-z4">
      <!-- login.component.html -->
      <div class="flex justify-center items-center h-screen bg-gray-100">
        <mat-card class="p-8">
          <div class="mt-4">
            <button mat-raised-button color="accent" (click)="Login()">
              Login with Auth0
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
