<div class="container mx-auto flex justify-center items-center h-screen  md:w-full">
    <div class=" w-full px-6">

        <!-- not-verified.component.html -->

        <div class="flex flex-col items-center justify-center  bg-gray-100">
            <!-- Illustration -->
            <div class="m-8">
                <img src="assets/not-verified.svg" alt="Not Verified Illustration" class=" h-64">
            </div>

            <!-- Message -->
            <div class="text-center">
                <h2 class="text-3xl font-semibold text-gray-800 mb-4">Account Not Verified</h2>
                <p class="text-lg text-gray-600 mb-6">Your account is currently pending verification by the
                    administrator.</p>
                <p class="text-sm text-gray-500">Please wait until your account is approved by the administrator. or
                    <b class="text-blue-500 underline cursor-pointer" routerLink="login">login with verified account</b>
                </p>
            </div>
        </div>

    </div>

</div>