
<form
  [formGroup]="form"
  (ngSubmit)="submitForm()"
  class="flex gap-2 flex-wrap m-4"
  *ngIf="isManager()"
>
  <div class="flex justify-between flex-col md:flex-row items-center w-full mb-4 gap-4">

    <!-- Risk Type -->
    <mat-form-field class="flex-1 w-full">
      <mat-label>Risk Type</mat-label>
      <mat-select formControlName="riskType">
        <mat-option
          *ngFor="let risk of riskTypes; let idx = index"
          [value]="idx"
          >{{ risk }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <!-- Severity -->
    <mat-form-field class="flex-1 w-full">
      <mat-label>Severity</mat-label>
      <mat-select formControlName="severity">
        <mat-option
          *ngFor="let severity of severities; let i = index"
          [value]="i"
          >{{ severity }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <!-- Impact -->
    <mat-form-field class="flex-1 w-full">
      <mat-label>Impact</mat-label>
      <mat-select formControlName="impact">
        <mat-option *ngFor="let impact of impacts; let i = index" [value]="i">{{
          impact
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

 
  <!-- Submit Button -->
  <button
    mat-raised-button
    color="primary"
    background
    type="submit"
    class="mat-primary"
  >
    {{ editDataId ? "Update" : "Submit" }}
  </button>
</form>

<div class="mat-elevation-z8 mat-table-responsive">
  <table mat-table [dataSource]="dataSource">
    <!-- Risk Type Column -->
    <ng-container matColumnDef="riskType">
      <th mat-header-cell *matHeaderCellDef>Risk Type</th>
      <td mat-cell *matCellDef="let element">{{ riskTypes[element.type] }}</td>
    </ng-container>

    <!-- Severity Column -->
    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef>Severity</th>
      <td mat-cell *matCellDef="let element">
        {{ severities[element.severity] }}
      </td>
    </ng-container>

    <!-- Impact Column -->
    <ng-container matColumnDef="impact">
      <th mat-header-cell *matHeaderCellDef>Impact</th>
      <td mat-cell *matCellDef="let element">{{ impacts[element.impact] }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element" class="flex items-center">
        <button [disabled]="!isManager()" mat-icon-button (click)="editItem(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button [disabled]="!isManager()" mat-icon-button (click)="deleteItem(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
