
<header
  class="bg-[#3f51b5] py-3 px-6 flex justify-between items-center gap-10 mb-4"
>
  <!-- Left side: Project name -->
  <div class="flex items-center">
    <span class="text-white text-lg font-semibold">CSP</span>
  </div>

  <!-- Center: Search box -->
  <div class="flex-grow flex items-center justify-center">
    <input
      class="flex-grow bg-[#6876c2] text-white rounded py-1 px-3 focus:outline-none"
      type="text"
      placeholder="Search..."
    />
  </div>

  <!-- Right side: User -->
  <div>
    <div [matMenuTriggerFor]="menu" class="flex items-center cursor-pointer">
      <img
        class="w-8 h-8 rounded-full mr-2"
        [src]="userDetail.picture"
        alt=""
      />
      <div class="flex flex-col">
        <span class="text-[.8rem] font-bold">{{ userDetail.nickname }}</span>
        <span class="text-[.8rem]">
          {{ authorizationService.getCurrentUser().role }}
        </span>
      </div>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout(true)">Logout</button>
      <button (click)="openDialog()" mat-menu-item>Profile</button>
    </mat-menu>
  </div>
</header>
<mat-drawer-container class="home-container min-h-[50vh]" autosize>
  <mat-drawer #drawer mode="side" opened>
    <!-- Center: Buttons -->
    <div class="flex gap-4 flex-col m-2">
      <button
        color="primary"
        (click)="navigateTo(Navigations[0].path)"
        class="h-10 bg-gray-100 hover:bg-gray-600 py-2 px-4 rounded focus:outline-none focus:shadow-outline lg:min-w-[10rem]"
      >
        {{ Navigations[0].displayName }}
      </button>
      <button
        *ngIf="isAdmin()"
        color="primary"
        (click)="navigateTo(Navigations[1].path)"
        class="h-10 bg-gray-100 hover:bg-gray-600 py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        {{ Navigations[1].displayName }}
      </button>
      <button
        *ngIf="isAdmin()"
        color="primary"
        (click)="navigateTo(Navigations[2].path)"
        class="h-10 bg-gray-100 hover:bg-gray-600 py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        {{ Navigations[2].displayName }}
      </button>
    </div>
  </mat-drawer>

  <div class="m-2 p-2">
    <div *ngIf="shouldShowTabs()">
      <app-tab></app-tab>
    </div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
